:root {
    --bg: #1c1c1f;
    --fg: #D9D9D9;
    --accent: #1793D1;
    --border: #414868;
    --tile-bg: #242424;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 1.8em;
}


.logo {
    font-family: 'JetBrains Mono', monospace;
}